In [2]:
import ccxt
# jupyter lab --NotebookApp.iopub_data_rate_limit=1.0e10 - this command is required to run when opening jupyter labs or ccxt wont work in jupyter. or configure a config file.
import pandas as pd
import hvplot.pandas
# from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import os

ModuleNotFoundError: No module named 'alpaca_trade_api'

In [3]:
# load_dotenv()

Note: you may need to restart the kernel to use updated packages.

WARNING: Package(s) not found: alpaca-trade-api

In [ ]:
ALPACA_API_KEY = 'PK2BWJQC7W7Z3C87TKI6'
ALPACA_SECRET_KEY = 'qox7s7aZ70L9yAp8HS6Kz0JXngu6a20ikuD3EmCq'

In [ ]:
# # Set the variables for the Alpaca API and secret keys
# alpaca_api_key=os.getenv(ALPACA_API_KEY)
# # Create the Alpaca tradeapi.REST object
# alpaca_secret_key=os.getenv(ALPACA_SECRET_KEY)



alpaca=tradeapi.REST(ALPACA_API_KEY,ALPACA_SECRET_KEY,api_version="v2")


#Setting the tickers
tickers = ['SPY']

#Setting the timeframe
timeframe='1Day'

#Formatting the date
today = pd.Timestamp.now(tz="US/Pacific")
a_year_ago = pd.Timestamp(today - pd.Timedelta(days=365)).isoformat()
end_date = pd.Timestamp(today - pd.Timedelta(days=1)).isoformat()

#Getting the closing prices
spy_price = alpaca.get_bars(
    tickers,
    timeframe,
    start=a_year_ago,
    end=end_date
).df

# Check for NaN Values
spy_price.isnull().dropna()

spy_price

In [16]:
# Getting connected to binanceus exchange, can change to any other exchange listed above. 
exchange_id = 'binanceus'
exchange_class = getattr(ccxt, exchange_id)
exchange = exchange_class({
    'timeout':30000,
    'enableRateLimit':True,
})
exchange

# Load markets into variable
markets=exchange.load_markets()

# getting open high low close data for BTC from binance us, last 1000 hour candles. 
btc_ohlc = exchange.fetch_ohlcv('BTC/USD', timeframe='1d', limit=1000)

# Creating a dataframe
df_btc = pd.DataFrame(btc_ohlc,columns=['Timestamp','Open','High','Low','Close','Volume'])
df_btc

# Check for null values
df_btc.isnull().sum().dropna()

# taken unix to datetime from firas pandas extra demo code
def unix_to_date(unix):
    return pd.to_datetime(unix, unit = "ms").tz_localize('UTC').tz_convert('US/Pacific')

# Clean unix timestamp to a human readable timestamp. 
df_btc['Timestamp']= df_btc['Timestamp'].apply(unix_to_date)

df_btc

,Timestamp,Open,High,Low,Close,Volume
0,2020-02-14 16:00:00-08:00,10367.91,10396.47,9800.00,9904.42,273.418284
1,2020-02-15 16:00:00-08:00,9911.33,10053.01,9635.00,9929.62,283.108111
2,2020-02-16 16:00:00-08:00,9929.47,9968.59,9463.67,9702.49,325.204460
3,2020-02-17 16:00:00-08:00,9711.67,10272.99,9608.67,10180.00,347.956896
4,2020-02-18 16:00:00-08:00,10193.83,10300.00,9350.00,9599.72,518.047975
...,...,...,...,...,...,...
995,2022-11-05 17:00:00-07:00,21295.96,21362.19,20888.00,20908.79,4145.775756
996,2022-11-06 16:00:00-08:00,20908.79,21068.60,20396.66,20592.62,8586.007408
997,2022-11-07 16:00:00-08:00,20593.33,20677.10,17600.00,18549.79,27123.992451
998,2022-11-08 16:00:00-08:00,18546.24,18591.15,15567.00,15891.72,18665.090281
999,2022-11-09 16:00:00-08:00,15887.31,16784.15,15727.64,16655.31,5390.112675

In [19]:
BTC_close = df_btc['Close']
BTC_close.head()
BTC_close_df = pd.DataFrame(BTC_close index )
BTC_close_df

        Close
0     9904.42
1     9929.62
2     9702.49
3    10180.00
4     9599.72
..        ...
995  20908.79
996  20592.62
997  18549.79
998  15891.72
999  16655.31

[1000 rows x 1 columns]